* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0    
}

body {
    box-sizing: border-box;
    min-height: 100vh;
}

/* properties of header container */
.headcontainer {
    height: 75px;
    background-color: rgb(51, 49, 49);
    padding: 10px 10px 10px 0px;
    display: flex;
}

.headcontainer .headername, .headcontainer nav {
    flex: 1; 
}

.headcontainer nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headcontainer nav a {
    color: rgb(44, 109, 109);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    display: block;
    border-bottom: 5px solid rgb(44, 109, 109);
}

/* Style Name in Header */
.headername {
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.headername h1 {
    display: inline;
    background-color: rgb(44, 109, 109);
    color: rgb(36, 12, 82);
    font-size: 2rem;
    padding-left: 40px;
}

/* Style Links in Header */
.headlink {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
}

.headlink li {
    display: block;
    justify-content: center;
}

 /* style banner */
 .banner {
    font-family: sans-serif; 
    position: relative;
    text-align:end;
 }

 .banner img {
     width:100%;
     height: 150px;
 }

 .banner .bannertext {
     font-weight: bold; 
     background-color: rgb(44, 109, 109);
     color: rgb(36, 12, 82);
     padding: 15px;
     position: absolute;
     bottom: 10px;
     right: 50px;
 }

 /* Style Content Containers */
.content {
    border: 2px solid purple;
    padding: 10px 10px 10px 50px;
    display: flex;
    flex-flow: column wrap ;
    align-items: stretch;
}

 .sectionabout h2, .sectionwork h2, footer h2 {
     border: 2px solid red; 
     font-family: sans-serif;
     font-weight: bold;
     color: rgb(36, 12, 82);
     margin: 30px;
 }

 p {
     padding: 10px;
     font-family: sans-serif;
     justify-content: flex-end;
 }

 .sectionabout {
     border: 2px dashed purple; 
     display: flex ;
     align-content: space-around;
 }

 .sectionwork {
    border: 2px dashed purple; 
    display: flex ;
    align-content: space-around;
}

.sectionwork .workimages {
    display: flex;
    flex-flow: column wrap;
}

.sectionwork .workimages img {
    position: relative;
    width: 75vw;
    border: 2px solid  rgb(44, 109, 109);
}

.sectionwork .workimages ul img div  {
    position: absolute;
    background-color:  rgb(44, 109, 109);
    bottom: 0px;
    left: 200px;
}

/* Style Footer/Contact Section */
.footer {
    border: 2px dashed purple;
     display: flex ;
     align-content: space-around;
}

.footer .info {
    flex: 1;
}

.info li {
    display: inline-block;
    padding: 15px;
}    