* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0    
}

/* properties of header container */
.headcontainer {
    height: 100px;
    background-color: rgb(128, 128, 128);;
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
}

/* Style Name in Header */
.headername {
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
    height: 75%;
    margin: 0px 25px 10px 0;
    padding: 10px;
    background-color: rgb(44, 109, 109);
    color: rgb(36, 12, 82);
    display: flex;
    justify-self: flex-start;
    align-content: center;
    flex: 1 1 auto;
}

/* Style Links in Header */
.headlink {
    display: flex;
    justify-content: flex-end;
    
}

.headlink .aboutme {
   width: 100px;
   height: 20px;
   margin: 20px;
   /* background-color: white; */
   flex: 1 1 auto;
}

.headlink .work {
    width: 100px;
    height: 20px;
    margin: 20px;
    /* background-color: white; */
    flex: 1 1 auto; 
 }

 .headlink .contactme {
    width: 100px;
    height: 20px;
    margin: 20px;
    /* background-color: white; */
    flex: 1 1 auto;
 }

 .headlink .resume {
    width: 100px;
    height: 20px;
    margin: 20px;
    /* background-color: white; */
    flex: 1 1 auto; 
 }

 /* style banner */
 .banner {
    font-family: sans-serif; 
    position: relative;
    text-align:end;
 }

 .banner img {
     width:100%;
     height: 100px;
 }

 .banner .bannertext {
     font-weight: bold; 
     background-color: rgb(44, 109, 109);
     color: rgb(36, 12, 82);
     padding: 15px;
     position: absolute;
     bottom: 10px;
     right: 50px;
 }

 /* Style Content Containers */
content {
    display: flex;
    flex-flow: column wrap ;
}

 h2 {
     margin: 10px 10px 10px 75px;  
     padding: 10px; 
     font-family: sans-serif;
     font-weight: bold;
     color: rgb(36, 12, 82);
 }

 p {
     padding: 20px;
     font-family: sans-serif;
     justify-content: flex-end;
 }

 .sectionabout {
     height: 150px; 
     display: flex ;
     align-content: space-around;
 }

 .sectionabout p {
     justify-content: flex-end;
 }

 .sectionwork {
     height: 200px;
     display: flex ;
     align-content: space-around;
}

.sectioncontact {
     height: 50px;
     display: flex ;
     /* align-content:space-between; */
}

.sectioncontact ul {
    align-items: space-between;
}