* {
    font-family: sans-serif;
    box-sizing: border-box;
     
}

body {
    box-sizing: border-box;
    /* max-height: 100vh; */
    /* width: 100%; */
    padding: 0;
    margin: 0 ;
}

/* properties of header container */
.headcontainer {
    height: 75px;
    background-color: rgb(51, 49, 49);
    padding: 10px 10px 10px 0px;
    display: flex;
}

.headcontainer .headername, .headcontainer nav {
    flex: 1; 
}

.headcontainer nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headcontainer nav a {
    color: rgb(44, 109, 109);
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    display: block;
    border-bottom: 5px solid rgb(44, 109, 109);
}

/* Style Name in Header */
.headername {
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.headername h1 {
    display: inline;
    background-color: rgb(44, 109, 109);
    color: rgb(36, 12, 82);
    font-size: 3rem;
    padding-left: 40px;
}

/* Style Links in Header */
.headlink {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
}

.headlink li {
    display: block;
    justify-content: center;
}

 /* style banner */
 .banner {
    font-family: sans-serif; 
    font-size: 2rem;
    position: relative;
    text-align:end;
 }

 .banner img {
     width:100vw;
     height: 150px;
 }

 .banner .bannertext {
     font-weight: bold; 
     background-color: rgb(44, 109, 109);
     color: rgb(36, 12, 82);
     padding: 15px;
     position: absolute;
     bottom: 10px;
     right: 50px;
 }
/* 
 /* Style Content Containers */
 .content {
    border: 2px solid purple;
    padding: 10px 50px 10px 50px;
    margin-right: 1000px;
    display: flex;
    flex-flow: column wrap ;
    /* align-items: stretch; */
    width: 100vw; 
}

 .sectionabout h2, .sectionwork h2, footer h2 {
     font-family: sans-serif;
     font-weight: bold;
     color: rgb(36, 12, 82);
 }

 h2 {
     font-size: 2rem;
     width: 25vw;
     align-self: center;
     justify-content: flex-end;
 }

 p {
     padding: 20px;
     margin: 20px;
     font-family: sans-serif;
     font-size: 1rem;
     color: rgb(36, 12, 82);
     justify-content: center;
     align-self: center;
     /* width: 75vw; */
 }

 .aboutcontent {
    border-left: 5px solid rgb(36, 12, 82);
 }

 
 .sectionabout {
     border: 2px dashed purple; 
     display: flex ;
     max-width: 100vw;
 }

 .sectionwork {
    border: 2px dashed purple; 
    display: flex ;
    align-content: space-around;
    max-width: 100vw;
}

.workimages ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-left: 5px solid rgb(36, 12, 82);
    padding-left: 5px;
}

.workimages li img{
    width: 25vw;
    border: 10px solid  rgb(44, 109, 109);
    margin: 10px;
}

.workimages li div{
    background-color: rgb(44, 109, 109);
    display: block;
    position: absolute;
    margin: -70px 10px; 
    padding: 10px;
}


/* Style Footer/Contact Section */
.footer {
    /* padding: 20px;
    margin: 0 50px; */
    display: flex ;
    align-content: space-around;
}

.footer .info {
    flex: 1;
}

.contact {
    display: flex;
    justify-content: center;
    align-content: center;
}

.info ul {
    border-left: 5px solid rgb(36, 12, 82);
}

.info li {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(36, 12, 82);
    border-bottom: 2px solid rgb(36, 12, 82);
    padding: 5px 10px 0px 10px;
    margin: 20px;    
}    